<ion-content class="ion-padding">
    <ion-img [src]="'assets/logo.png'"></ion-img>
    <ion-row class="ion-align-items-center">
        <ion-col>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Bem vindo</ion-card-subtitle>
                    <ion-card-title>Deseja acessar como?</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-button color="success" expand="block" [routerLink]="'/produtor'">Produtor</ion-button>
                    <ion-button color="success" expand="block" [routerLink]="'/operador'">Operador</ion-button>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
