<ion-header>
  <ion-toolbar>
    <ion-title>AgriControl</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style=" padding: 1em; padding-left: 6% ;padding-right: 6% ; ">
    <div style="background:#f1fdff; padding: 1em;  border-radius: 8px;">
      <ion-row>
        <h3>
          Oque está acontecendo
        </h3>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="assets/relogio-arvore.svg">
        </ion-col>
        <ion-col>
          <span style="font-size: 38px;">29</span>
          <br>
          Talhões
        </ion-col>
      </ion-row>
    </div>
  </div>
  <br>
  <br>
  <div style=" padding: 1em; padding-left: 6% ;padding-right: 6% ; ">
    <div style="background:#ffe8e8; padding: 1em; border-radius: 8px; ">
      <ion-row>
        <h4>
          Oque foi feito, mesmo com risco
        </h4>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="assets/relogio.svg">
        </ion-col>
        <ion-col>
          <span style="font-size: 38px;">29</span>
          <br>
          Talhões
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="ion-float-end ion-margin-top">
      <ion-button color="success" routerLink="/operacoes">VER TODAS OPERAÇÕESS <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
  </div>


</ion-content>