<ion-content>
  <p class="font-weith-bold">3. Aplicação</p>

  <ion-list>
    <ion-list-header>
      Insira a velocidade média da máquina
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">Valor:</ion-label>
      <ion-input ></ion-input>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Verificado da altura da barra</ion-label>
    </ion-item>
  </ion-list>

  <section class="ion-margin ion-padding" [style.background-color]="'#F8F8F8'">
    <p>
      Se voce chegou até aqui, parabéns seu processo deu certo!  
    </p>
    <p>Esperamos que tenha seguido todos os passos.</p>
  </section>

  <ion-button color="success" class="ion-float-end" routerLink="/tarefa">
    Próximo
  </ion-button>
</ion-content>
