<ion-content class="ion-padding ">
  <p class="font-weith-bold">2. Preparação da calda</p>

  <section class="ion-padding">
    <p class="font-weith-bold"> Dosagem recomendada</p>
    <ion-row>
      <ion-col>
      <p class="color-medium">Produto</p>
      <p>Roundp We</p>
      <p>Água</p>
      <p>Óleo Vegetal</p>
      </ion-col>
      <ion-col class="ion-text-center">
        <p class="color-medium">Quantidade</p>
        <p>2L</p>
        <p>10L</p>
        <p>3L</p>
      </ion-col>
    </ion-row>
  </section>

  <section class="ion-padding-horizontal ion-padding-top ion-margin-top">
    <p class="font-weith-bold"> Etapa de mistura</p>
    <ion-row>
      <ion-col>
        <p>1.Água</p>
        <p>2.Roundp We</p>
        <p>3.Óleo Vegetal</p>
      </ion-col>
    </ion-row>
  </section>

  <ion-button color="success" class="ion-float-end" (click)="proximo.emit(3)">
    Próximo
  </ion-button>
</ion-content>
